@media screen and (min-width: 900px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Latooo';
    }
    body {
        background-color: #555454;
        font-family: 'Latooo';
    }
    .fullscreen-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        background-color: #98c1d9;
    }
    .fullscreen-container-inside {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        background-color: #98c1d9;
    }
    .nested-container {
        width: 50vh;
        height: 60vh;
        padding: 20px;
    }
    .left {
        background-image: url("./Blue1x.png");
        background-size: contain;
    }
    .right {
        background-color: #98c1d9;
    }
    .container {
        max-width: 960px;
        height: 40vh;
        background-color: rgba(104, 104, 104, 0.29);
        border-radius: 2%;
        padding-top: 3%;
        font-size: 2%;
    }
    nav {
        background-color: transparent;
        color: #fff;
        height: fit-content;
    }
    .nav-list {
        display: table-row;
        list-style: none;
        padding: 0;
        justify-content: space-around;
    }
    .nav-item {
        margin: 0;
    }
    .nav-button {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 5px 15px;
        background-color: #293241;
        width: max-content;
        border: none;
        cursor: pointer;
        border-radius: 8%;
        font-size: 1.4vh;
        font-family: LatoBold;
    }
    .section {
        background-color: transparent;
    }
    .section .scrollable-content {
        height: 40vh;
    }
    .scrollable-content::-webkit-scrollbar {
        display: none;
    }
    .scrollable-content {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .text {}
    .text-education {}
    .text-about {
        padding-top: 10px;
    }
    .hidden {
        display: none
    }
    .education-details {
        color: grey;
    }
    .education-item {
        padding-bottom: 10px;
    }
    .education-item h6 {
        color: rgb(0, 0, 0);
        padding-bottom: 1px;
    }
    .education-item span {
        display: block;
        margin-bottom: 1px;
    }
    .scroll-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        height: 70%;
        background-color: #00000012;
        padding-top: 3%;
        border-radius: 5%;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .projects-scroll {
        height: 35vh;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 820px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Latooo';
    }
    body {
        background-color: #555454;
        font-family: 'Latooo';
    }
    .fullscreen-container {
        display: inline-block;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        background-color: #98c1d9;
        width: 100%;
    }
    .fullscreen-container-inside {
        display: inline-block;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        background-color: #98c1d9;
        width: 100%;
    }
    .nested-container {
        width: 100%;
        height: 80%;
        padding: 20px;
    }
    .left {
        width: 100%;
        height: 20%;
        background-image: url("./top.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .right {
        background-color: #98c1d9;
    }
    .container {
        max-width: 960px;
        height: 40vh;
        background-color: rgba(0, 0, 0, 0.29);
        border-radius: 2%;
        padding-top: 3%;
        font-size: 2%;
    }
    nav {
        background-color: transparent;
        color: #fff;
        height: fit-content;
    }
    .nav-list {
        width: 100%;
        display: block ruby;
        list-style: none;
        padding: 0;
        justify-content: space-around;
    }
    .nav-item {
        margin: 0;
    }
    .nav-button {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 5px 11px;
        background-color: #293241;
        width: max-content;
        border: none;
        cursor: pointer;
        border-radius: 8%;
        font-size: 1.4vh;
        font-family: LatoBold;
    }
    .section {
        background-color: transparent;
    }
    .section .scrollable-content {
        height: 40vh;
    }
    .scrollable-content::-webkit-scrollbar {
        display: none;
    }
    .scrollable-content {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .text-about {
        padding-top: 10px;
    }
    .hidden {
        display: none
    }
    .education-details {
        color: grey;
    }
    .education-item {
        padding-bottom: 10px;
    }
    .education-item h6 {
        color: rgb(0, 0, 0);
        padding-bottom: 1px;
    }
    .education-item span {
        display: block;
        margin-bottom: 1px;
    }
    .scroll-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        height: 70%;
        background-color: #00000012;
        padding-top: 3%;
        border-radius: 5%;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .projects-scroll {
        height: 50vh;
        overflow-y: scroll;
    }
}

@font-face {
    font-family: 'Latooo';
    src: url('./Lato/Lato-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'LatoBold';
    src: url('./Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'LatoBoldItalics';
    src: url('./Lato/Lato-Black.ttf') format('truetype');
}